.a1{
    color: #A73529;
  }
  
  .a2{
    color: #391E1A;
  }
  
  .a3{
    color: #C08B78;
  }
  
  .a4{
    color: #719FAE;
  }
  
  .a5{
    color: #6D4C43;
  
  }
  
  .b1{
    color: #1D694E;
  }
  
  .b2{
    color: #AD291A;
  }
  
  .b3{
    color: #BDA27B;
  }
  
  .b4{
    color: #684232;
  }
  
  .b5{
    color: #0D0D0D;
  }
  
  .c1{
    color: #AD291A;
  }
  
  .c2{
    color: #1D694E;
  }
  
  .c3{
    color: #BDA27B;
  }
  
  .c4{
    color: #684232;
  }
  
  .c5{
    color: #0D0D0D;
  }
  
  .d1{
    color: #0467BE;
  }
  
  .d2{
    color: #9F5006;
  }
  
  .d3{
    color: #F1D41C;
  }
  
  .d4{
    color: #09B2DC;
  }
  
  .d5{
    color: #040505;
  }

  .e1{
    color: #F8F2E1;
  }

  .e2{
    color: #D49161;
  }

  .e3{
    color: #324345;
  }

  .e4{
    color: #B6608E;
  }

  .e5{
    color: #65B4BF;
  }
  
  .f1{
    color: #8C542C;
  }

  .f2{
    color: #1C3344;
  }

  .f3{
    color: #B8B9AD;
  }

  .f4{
    color: #141B21;
  }

  .f5{
    color: #7B999D;
  }

  .g1{
    color: #F65164;
  }

  .g2{
    color: #F44050;
  }

  .g3{
    color: #140505;
  }

  .g4{
    color: #C1202B;
  }

  .g5{
    color: #620A0D;
  }

  .h1{
    color: #DCE7EF;
  }

  .h2{
    color: #86A6C0;
  }

  .h3{
    color: #1E1D1B;
  }

  .h4{
    color: #5C7DA1;
  }

  .h5{
    color: #394367;
  }

  .i1{
    color: #1069CC;
  }

  .i2{
    color: #123B96;
  }

  .i3{
    color: #D0BFB6;
  }

  .i4{
    color: #3AA3E1;
  }

  .i5{
    color: #101028;
  }

  .j1{
    color: #057989;
  }

  .j2{
    color: #E32D2D;
  }

  .j3{
    color: #DABC69;
  }

  .j4{
    color: #190E09;
  }

  .j5{
    color: #649381;
  }

  .k1{
    color: #964E1E;
  }

  .k2{
    color: #C9B12B;
  }

  .k3{
    color: #337EAC;
  }

  .k4{
    color: #204873;
  }

  .k5{
    color: #59A4BA;
  }

  .l1{
    color: #D7323C;
  }

  .l2{
    color: #31347C;
  }

  .l3{
    color: #080508;
  }

  .l4{
    color: #6F8883;
  }

  .l5{
    color: #49514F;
  }

  .m1{
    color: #0595FB;
  }

  .m2{
    color: #EF0994;
  }

  .m3{
    color: #6970D8;
  }

  .m4{
    color: #9F69D2;
  }

  .m5{
    color: #7D3FB0;
  }

  .n1{
    color: #CD8037;
  }

  .n2{
    color: #D7B47C;
  }

  .n3{
    color: #84A7B9;
  }

  .n4{
    color: #53342C;
  }

  .n5{
    color: #8C7F8A;
  }

  .o1{
    color: #057989;
  }

  .o2{
    color: #E32D2D;
  }

  .o3{
    color: #DABC69;
  }

  .o4{
    color: #190E09;
  }

  .o5{
    color: #649381;
  }

  .p1{
    color: #851A2D;
  }

  .p2{
    color: #F0E7CF;
  }

  .p3{
    color: #A14D42;
  }

  .p4{
    color: #5698AB;
  }

  .p5{
    color: #415768;
  }

  .q1{
    color: #8C1071;
  }

  .q2{
    color: #3B127B;
  }

  .q3{
    color: #CF4487;
  }

  .q4{
    color: #23CABE;
  }

  .q5{
    color: #1F88A7;
  }

  .r1{
    color: #F9B479;
  }

  .r2{
    color: #EE4335;
  }

  .r3{
    color: #366359;
  }

  .r4{
    color: #E89446;
  }

  .r5{
    color: #060504;
  }

  .s1{
    color: #D6A045;
  }

  .s2{
    color: #F3EADA;
  }

  .s3{
    color: #6882AD;
  }

  .s4{
    color: #9B9188;
  }

  .s5{
    color: #514741;
  }

  .t1{
    color: #E48822;
  }

  .t2{
    color: #C23C25;
  }

  .t3{
    color: #0B0A0A;
  }

  .t4{
    color: #C4A674;
  }

  .t5{
    color: #749068;
  }

  .u1{
    color: #7EAFF2;
  }

  .u2{
    color: #598DE5;
  }

  .u3{
    color: #221210;
  }

  .u4{
    color: #74505D;
  }

  .u5{
    color: #CC8778;
  }

  .v1{
    color: #7CD4E4;
  }

  .v2{
    color: #53BBDB;
  }

  .v3{
    color: #CBA6b9;
  }

  .v4{
    color: #331F29;
  }

  .v5{
    color: #5F6555;
  }

  .w1{
    color: #E22245;
  }

  .w2{
    color: #E5CA3C;
  }

  .w3{
    color: #39323D;
  }

  .w4{
    color: #D8D3C7;
  }

  .w5{
    color: #745149;
  }

  .x1{
    color: #E9D35C;
  }

  .x2{
    color: #E3CAB2;
  }

  .x3{
    color: #424B4D;
  }

  .x4{
    color: #9BC7CE;
  }

  .x5{
    color: #76ABB1;
  }

  .y1{
    color: #104C8C;
  }

  .y2{
    color: #1D9072;
  }

  .y3{
    color: #5AB273;
  }

  .y4{
    color: #233619;
  }

  .y5{
    color: #426229;
  }

  .z1{
    color: #2C1474;
  }

  .z2{
    color: #4E2AA0;
  }

  .z3{
    color: #332E21;
  }

  .z4{
    color: #C6C2BB;
  }

  .z5{
    color: #9BA39C;
  }

  .aa1{
    color: #D29B31;
  }

  .aa2{
    color: #9EE4D9;
  }

  .aa3{
    color: #3A3734;
  }

  .aa4{
    color: #6ABBBF;
  }

  .aa5{
    color: #923930;
  }

  .bb1{
    color: #F49A25;
  }

  .bb2{
    color: #F5D58B;
  }

  .bb3{
    color: #3F341E;
  }

  .bb4{
    color: #B9341E;
  }

  .bb5{
    color: #8A6D4C;
  }

  .cc1{
    color: #E0573D;
  }

  .cc2{
    color: #463557;
  }

  .cc3{
    color: #C4AAC5;
  }

  .cc4{
    color: #241A27;
  }

  .cc5{
    color: #86728B;
  }

  .dd1{
    color: #DEB51E;
  }

  .dd2{
    color: #185229;
  }

  .dd3{
    color: #C95848;
  }

  .dd4{
    color: #17100B;
  }

  .dd5{
    color: #4B9B45;
  }

  .ee1{
    color: #0E4484;
  }

  .ee2{
    color: #1585BA;
  }

  .ee3{
    color: #152036;
  }

  .ee4{
    color: #B59B87;
  }

  .ee5{
    color: #1F6299;
  }

  .ff1{
    color: #3B4E93
    ;
  }

  .ff2{
    color: #0D0A17;
  }

  .ff3{
    color: #BE8F91;
  }

  .ff4{
    color: #42423F;
  }

  .ff5{
    color: #5772B1;
  }