.a1{
    color: #719FAE;
  }
  
  .a2{
    color: #C08B78;
  }
  
  .a3{
    color: #A73529;
  }
  
  .a4{
    color: #6D4C43;
  }
  
  .a5{
    color: #391E1A;
  }  


  .d1{
    color: #F1D41C;
  }
  
  .d2{
    color: #09B2DC;
  }
  
  .d3{
    color: #9F5006;
  }
  
  .d4{
    color: #0467BE;
  }
  
  .d5{
    color: #040505;
  }



  .e1{
    color: #F8F2E1;
  }

  .e2{
    color: #65B4BF;
  }

  .e3{
    color: #D49161;
  }

  .e4{
    color: #B6608E;
  }

  .e5{
    color: #324345;
  }
  


  .f1{
    color: #B8B9AD;
  }

  .f2{
    color: #7B999D;
  }

  .f3{
    color: #8C542C;
  }

  .f4{
    color: #1C3344;
  }

  .f5{
    color: #141B21;
  }



  .g1{
    color: #F65164;
  }

  .g2{
    color: #F44050;
  }

  .g3{
    color: #C1202B;
  }

  .g4{
    color: #620A0D;
  }

  .g5{
    color: #140505;
  }



  .m1{
    color: #0595FB;
  }

  .m2{
    color: #EF0994;
  }

  .m3{
    color: #6970D8;
  }

  .m4{
    color: #9F69D2;
  }

  .m5{
    color: #7D3FB0;
  }



  .n1{
    color: #D7B47C;
  }

  .n2{
    color: #84A7B9;
  }

  .n3{
    color: #CD8037;
  }

  .n4{
    color: #8C7F8A;
  }

  .n5{
    color: #53342C;
  }



  .o1{
    color: #DABC69;
  }

  .o2{
    color: #649381;
  }

  .o3{
    color: #E32D2D;
  }

  .o4{
    color: #057989;
  }

  .o5{
    color: #190E09;
  }



  .q1{
    color: #23CABE;
  }

  .q2{
    color: #1F88A7;
  }

  .q3{
    color: #CF4487;
  }

  .q4{
    color: #8C1071;
  }

  .q5{
    color: #3B127B;
  }



  .s1{
    color: #F3EADA;
  }

  .s2{
    color: #D6A045;
  }

  .s3{
    color: #9B9188;
  }

  .s4{
    color: #6882AD;
  }

  .s5{
    color: #514741;
  }



  .x1{
    color: #9BC7CE;
  }

  .x2{
    color: #E3CAB2;
  }

  .x3{
    color: #E9D35C;
  }

  .x4{
    color: #76ABB1;
  }

  .x5{
    color: #424B4D;
  }



  .aa1{
    color: #9EE4D9;
  }

  .aa2{
    color: #6ABBBF;
  }

  .aa3{
    color: #D29B31;
  }

  .aa4{
    color: #923930;
  }

  .aa5{
    color: #3A3734;
  }



  .bb1{
    color: #F5D58B;
  }

  .bb2{
    color: #F49A25;
  }

  .bb3{
    color: #8A6D4C;
  }

  .bb4{
    color: #B9341E;
  }

  .bb5{
    color: #3F341E;
  }



  .dd1{
    color: #DEB51E;
  }

  .dd2{
    color: #C95848;
  }

  .dd3{
    color: #4B9B45;
  }

  .dd4{
    color: #185229;
  }

  .dd5{
    color: #17100B;
  }