/** Settings for divs in top
*
*
*/
  .top{
    height: 100vh;
    width: 100%;
    font-size: inherit;
  }

  .right{
    width: 25%;
    text-align: right;
    font-size: 4vh;
  }

  .left{
    width: 25%;
    text-align: left;
    font-size: 4vh;
  }

  .projects{
    color: inherit;
    font-size: 7vh;
    text-align: center;
    width: 50%;
  }



/** Settings for links in top
*
*
*/
  .link{
    padding: 1vh;
    color: inherit;
    text-decoration: none;
    transition: transform .2s;
  }

  .link:hover {
    text-transform: uppercase;
  }



  /** Settings for expand buttons
  *
  *
  */
  .center{
    text-align: center;
    width: 100%;
  }



/** Settings for scroll.totop component
*
*
*/
.totop{
  height: 40px;
  width: 40px;
  transition: transform .1s;
}

.totop:hover{
  transform: scale(1.3);
  cursor: pointer;
}



/** Settings for project-components
* 
*
*/
.projectheader{
  font-size: 10vh;
  margin-top: 4vh;
}

.projectcontent{
  font-size: 5vh;
  margin-top: 2vh;
}

.projectleft{
  height: 100vh;
  text-align: left;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  
}

.projectright{
  height: 100vh;
  text-align: right;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.projectpicture{

}



/** Settings for project ideas -component
*
*
*/
.projectideas{
  height: 100vh;
  
  display: flex;
  flex-direction: column;
}

.projectideasheader{
  font-size: 10vh;
  flex: 1;
  text-align: center;
}

.projectideascontent{
  font-size: 5vh;
  flex: 8;
  text-align: center;
}

.projectideasfooter{
  text-align: center;
  flex: 1;
}



/** Settings when screen width is less than 900px
*
*
*/
@media screen and (max-width: 900px) {
  
  /** Settings for links in top
  *
  *
  */
  .link{
    padding: 1vh;
    color: inherit;
    text-decoration: none;
    transition: transform .2s;
    font-size: 25px;
  }

  .link:hover {
    text-transform: uppercase;
  }
  
  
  /** Settings for divs in top
  *
  *
  */
  .top{
    height: 100vh;
    width: 100%;
    font-size: inherit;
  }

  .projects{
    color: inherit;
    font-size: 20px;
    text-align: center;
    width: 50%;
  }

  .right{
    width: 25%;
    text-align: right;
  }

  .left{
    width: 25%;
    text-align: left;
  }


  
  /** CSS for expand icons
  *
  *
  */
  .center{
    text-align: center;
    width: 100%;
  }



  /** Settings for scroll.totop -icon
  *
  *
  */
  .totop{
    height: 40px;
    width: 40px;
    transition: transform .1s;
  }

  .totop:hover{
    transform: scale(1.3);
    cursor: pointer;
  }



  /** Settings for project-components
  *
  *
  */
  .projectheader{
    font-size: 30px;
    margin-top: 10px;
  }

  .projectcontent{
    font-size: 20px;
    margin-top: 5px;
  }

  .projectleft{
    height: 100vh;
    text-align: left;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    
  }

  .projectright{
    height: 100vh;
    text-align: right;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
  }

  .projectpicture{
    
  }



  /** Settings for bottom component that renders project ideas
  *
  *
  */
  .projectideas{
    height: 95vh;
    display: flex;
    flex-direction: column;
  }

  .projectideasheader{
    font-size: 40px;
    flex: 1;
    text-align: center;
  }

  .projectideascontent{
    font-size: 20px;
    flex: 8;
    text-align: center;
  }

  .projectideasfooter{
    text-align: center;
    flex: 1;
  }  
}