.a1{
  color: #A73529;
}

.a2{
  color: #391E1A;
}

.a3{
  color: #C08B78;
}

.a4{
  color: #719FAE;
}

.a5{
  color: #6D4C43;

}

.b1{
  color: #1D694E;
}

.b2{
  color: #AD291A;
}

.b3{
  color: #BDA27B;
}

.b4{
  color: #684232;
}

.b5{
  color: #0D0D0D;
}

.c1{
  color: #AD291A;
}

.c2{
  color: #1D694E;
}

.c3{
  color: #BDA27B;
}

.c4{
  color: #684232;
}

.c5{
  color: #0D0D0D;
}

.d1{
  color: #0467BE;
}

.d2{
  color: #9F5006;
}

.d3{
  color: #F1D41C;
}

.d4{
  color: #09B2DC;
}

.d5{
  color: #040505;
}